html, body {
    width: 100%;
    height: 100%;
}

.container {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-cont {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header {
    margin-bottom: 10px;
}

.header-cont {
    align-self: start;
    flex: 0;
}

/*.header-cont {
    height: 10%;
}

.game-cont {
    height: 50%;
}

.keyboard-cont {
    height: 40%;
}*/

.senha-button {
    padding: 3px 15px 3px 15px;
    border: 0;
    color: white;
    background-color: black;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
}

i {
    font-size: 20px;
    cursor: pointer;
}

.senha-logo {
    width: 60%;
}

@media (max-width: 1024px)
{
    .senha-logo {
        width: 100%;
    }
}

.tile {
    width: 45px;
    height: 45px;
    margin: 2px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 28px;
    text-align: center;
    transition: transform 0.8s, background-color 0.15s ease-in-out 0.05s;
}

.board {
    margin-bottom: 10px;
}

.game-cont {
    flex: 1;
}

.keyboard {
    margin-bottom: 10px;
}

.keyboard-cont {
    flex: 0;
}

#ENTER {
    padding-left: 40px;
    padding-right: 40px;
}

.keyboard-button {
    border: 1px solid #929292;
    margin: 2px;
    min-width: 30px;
    padding: 4px 5px 4px 5px;
    border-radius: 3px;
    font-family: 'Roboto';
    font-size: 18px;
    background-color: rgb(243, 244, 244);
    transition: transform 0.8s, background-color 0.3s ease-in-out 0.1s;
}

.keyboard-button:hover {
    background-color: rgb(225, 225, 225);
}

.special-button {
    background-color: rgb(249, 243, 211);
    color: rgb(68, 53, 1);
}

.special-button:hover {
    background-color: rgb(230, 224, 192);
}

.selected {
    -moz-box-shadow:    inset 0 3px 4px #a5a5a5;
    -webkit-box-shadow: inset 0 3px 4px #a5a5a5;
    box-shadow:         inset 0 3px 4px #a5a5a5;
    background-color: white;
}

.errado {
    background-color: rgb(216, 209, 174);
    transform: rotateY(180deg);
}

.existente {
    background-color: rgb(255, 199, 0);
    transform: rotateY(180deg);
}

.correto {
    background-color: rgb(118, 193, 23);
    transform: rotateY(180deg);
}

.shake-effect {
    background-color: rgb(250, 0, 0);
    color: white;
}

.correto p, .errado p, .existente p {
    transform: rotateY(-180deg);
}

.keyboard-button p {
    margin: 0;
}

.modal-body {
    font-family: 'Roboto', sans-serif;
}

.yes-button {
    padding: 8px 15px 8px 15px;
    border: 0;
    color: white;
    background-color: black;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}

.no-button {
    padding: 8px 15px 8px 15px;
    border: 0;
    background-color: rgb(249, 243, 211);
    color: black;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}

.ads {
    min-height: 80px;
    background-color: #a5a5a5;
    font-family: 'Roboto';
    font-weight: 400;
    bottom: 0;
    opacity: 0.5;
}